[MESSAGES CONTROL]
disable =
    logging-fstring-interpolation,
    too-few-public-methods,
    relative-beyond-top-level,
    consider-using-from-import,
    duplicate-code

ignore-paths=^tests/end-to-end/app_*

[FORMAT]
max-line-length=120